body{
  background-image:url("../image/background2.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-postion: center;
  color: white;
}
h1{
  font-family:sans-serif;
}
button{
  background-color: #008CBA;
  border-radius: 12px;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

button:hover {
  opacity: 1
}
.jumbotron{
  background: none;
}
